@import 'bootstrap-sprockets';
@import 'bootstrap';

h4{
  background-color: white;
  opacity: 0.5
}

.head-title {
    background-color: white;
}

.background {
  background-image: url(http://www.firsthdwallpapers.com/uploads/2013/09/url27.jpg);
}

.row {

}

.task-row{

}

.pos{
  min-height: 36px;
  margin-top: 1em;
  margin-left: 1em;
  background-color: white;
  opacity: 0.5;
  border-radius: 50%;
  text-align: center;
}

.bod{
  min-height: 36px;
  margin-top: 1em;
  background-color: white;
  border-radius: 5px;
}

.com{
  min-height: 36px;
  margin-top: 1em;
  padding-left: 0.5em;
  background-color: #337ab7;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding-top: 0.5em;
}

.incom{
  min-height: 36px;
  margin-top: 1em;
  padding-left: 0.5em;
  background-color: darken(red, 10%);
  border-radius: 5px;
  text-align: center;
  color: white;
  padding-top: 0.5em;
}

.view{
  min-height: 36px;
  margin-top: 1em;
  padding-left: 0.5em;
}

.back{
  float: right;
}
